
<h1 class="mat-h1">Login</h1>

<form [formGroup] = "matLoginForm" (ngSubmit) ="matLoginForm.valid && login()">
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName = "username"/>
    <mat-error> Username Blank</mat-error>
  </mat-form-field>



  <mat-form-field>
    <input type="text" matInput placeholder="Password" formControlName = "password"/>
    <mat-error> Password Blank</mat-error>
  </mat-form-field>

<button mat-raised-button color = "primary">Login</button>
</form>

